In [69]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler,OneHotEncoder,OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.feature_selection import SelectKBest,chi2

In [70]:
df=sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [71]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [72]:
df.drop(["deck",'alive','embark_town','class','who'],axis=1,inplace=True)

In [73]:
x=df.drop('survived',axis=1)
y=df['survived']

In [74]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [75]:
x_train

     pclass     sex   age  sibsp  parch      fare embarked  adult_male  alone
331       1    male  45.5      0      0   28.5000        S        True   True
733       2    male  23.0      0      0   13.0000        S        True   True
382       3    male  32.0      0      0    7.9250        S        True   True
704       3    male  26.0      1      0    7.8542        S        True  False
813       3  female   6.0      4      2   31.2750        S       False  False
..      ...     ...   ...    ...    ...       ...      ...         ...    ...
106       3  female  21.0      0      0    7.6500        S       False   True
270       1    male   NaN      0      0   31.0000        S        True   True
860       3    male  41.0      2      0   14.1083        S        True  False
435       1  female  14.0      1      2  120.0000        S       False  False
102       1    male  21.0      0      1   77.2875        S        True  False

[712 rows x 9 columns]

In [76]:
x_train.shape

(712, 9)

  impute missing value

In [77]:
trf1=ColumnTransformer([
    ('age_impute',SimpleImputer(),['age']),
    ('other_col_impute',SimpleImputer(strategy='most_frequent'),['embarked'])
],remainder='passthrough')

encoding

In [78]:
trf2=ColumnTransformer([
    ('ohe_sex',OneHotEncoder(drop='first',sparse=False),[1,6])
],remainder='passthrough')

scaling

In [79]:
trf3=ColumnTransformer([
     ('scaling',MinMaxScaler(),['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked',
        'adult_male', 'alone'])
 ],remainder='passthrough')

Feature selection

In [80]:
trf4 = SelectKBest(score_func=chi2,k=8)

model

In [81]:
trf5=DecisionTreeClassifier()

# pipeline

In [82]:
# Pipeline require name but make_pipeline not require name
# pipe=Pipeline([
#     ('trf1',trf1),
#     ('trf2',trf2),
#     ('trf3',trf3),
#     ('trf4',trf4),
#     ('trf5',trf5)
# ])

In [83]:
pipe=make_pipeline(trf1,trf2,trf3,trf4,trf5)

In [84]:
pipe.fit(x_train,y_train)

c:\Users\iabub_iqpypf5\.conda\envs\machine_learning_env\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(